$primary-font: 'Open Sans', sans-serif;

/* Images */
$image-path: "../image";

/* Header */
$header-background-color: #f1f0f0;
$header-border-color: #cecccc;
$header-text-color: #353434;

$header-height: 35px;
$header-collapsed-height: 30px;

/* Sidebar */
$sidebar-width: 257px;
$sidebar-collapsed-width: 150px;

/* Footer table */
$footer-table-width: 100%;

/* Colors */
$secondary-color: #168bac;
$basic-font-color: #333333;


/* Plans */
$plan_color: #FFF;
$plan_borders: #d9d9d9;
$plan_body: #f9f9f9;
$plan_border_inside: #e9e9e9;